//@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

// COLOR VARIABLES
$white: rgb(242, 242, 182);
$silver: rgb(192,192,192);
$purple: rgb(128,0,128);
$black: rgb(0,0,0);
$green: rgb(0,128,0);
$maroon: rgb(128,0,0);
$light-green: rgb(6, 216, 6);
$light-maroon: rgb(230, 5, 5);

body {
    background-color: $white;
    padding: 5% 20% 10% 10%;
    font-size: 20px;
    font-family: 'Roboto Serif', sans-serif;
}
div {
    color: $black;
}

.title {
    color: $purple;
    font-size: 28px;
    text-decoration: underline;
}

.input {
    outline: none;
    border: .5px solid $silver;
    width: 80.5%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input:focus {
    border: .5px solid $purple;
}

.add {
    background-color: transparent;
    border: .5px solid $green;
    color: $green;
    font-size: 14px;
    cursor: pointer;
    width: 20%;
    min-height: 2.5em;
    margin-right: 10px;

}

.add:hover {
    border: .5px solid $light-green;
    color: $light-green;
}

.clear {
    background-color: transparent;
    border: .5px solid $maroon;
    color: $maroon;
    font-size: 14px;
    cursor: pointer;
    width: 20%;
    min-height: 2.5em;
    overflow: hidden;
}

.clear:hover {
    border: .5px solid $light-maroon;
    color: $light-maroon;
}

.status-msg {
    font-size: 15px;
    color: $purple;
    margin-top: 5px;
}

.content {
    border: 1px solid $ilver;
    padding: 10%;
    overflow: hidden;
}